name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "15 1/2 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
concurrency:
  group: "metrics"
  cancel-in-progress: false
jobs:
  repo-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: AstolfoAim Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.TOKEN }}
          template: repository
          user: Exponential-Workload
          repo: astolfoaim
          filename: astolfoaim-metrics.svg
          committer_message: 'feat: Update Repo AstolfoAim [skip ci]'
          plugin_introduction: yes
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_indepth: yes
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_limit: 4
          plugin_languages_analysis_timeout: 15
          plugin_people: yes
          plugin_people_types: contributors, stargazers, watchers, sponsors
          # broken on da aim
          #plugin_licenses: yes
          #plugin_licenses_setup: bash -c '[[ -f package.json ]] && npm ci || true'
          #plugin_licenses_legal: yes
          #plugin_licenses_ratio: yes
      - name: ytdl Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.TOKEN }}
          template: repository
          user: BreadCity
          repo: ytdl
          filename: ytdl-metrics.svg
          committer_message: 'feat: Update Repo ytdl [skip ci]'
          plugin_introduction: yes
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_indepth: yes
          plugin_languages_details: lines, bytes-size, percentage
          plugin_languages_limit: 4
          plugin_languages_analysis_timeout: 15
          plugin_people: yes
          plugin_people_types: contributors, stargazers, watchers, sponsors
          plugin_licenses: yes
          plugin_licenses_setup: bash -c '[[ -f package.json ]] && npm ci || true'
          plugin_licenses_legal: yes
          plugin_licenses_ratio: yes
  user-metrics:
    needs: repo-metrics
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.TOKEN }}
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Zurich
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: public
          plugin_followup: yes
          plugin_followup_indepth: yes
          plugin_followup_sections: user
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          plugin_languages: yes
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 90
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_details: bytes-size, percentage
          plugin_lines: yes
          plugin_habits_facts: yes
          plugin_licenses: yes
          plugin_licenses_setup: bash -c '[[ -f package.json ]] && npm ci || true'
          plugin_licenses_legal: yes
          plugin_licenses_ratio: yes
          plugin_repositories: yes
          plugin_repositories_pinned: 2
          plugin_calendar: yes
          plugin_calendar_limit: 4
          repositories: 100
          repositories_batch: 150
          filename: github-metrics.svg
          committer_message: 'feat: Update User [skip ci]'
          optimize: yes
          experimental_features: --optimize-svg
          verify: yes
          # config_twemoji: yes
          # plugin_code: yes
          # plugin_code_visibility: public
